<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pieropan.julien.bouncingball.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pieropan.julien.bouncingball.activities.GameMenu"
            android:label="@string/title_activity_game_menu"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pieropan.julien.bouncingball.activities.GameMain"
            android:label="@string/title_activity_game_main" >
        </activity>
        <activity
            android:name="com.pieropan.julien.bouncingball.activities.GameHit"
            android:label="@string/title_activity_game_hit"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.pieropan.julien.bouncingball.activities.GameSettings"
            android:label="@string/title_activity_game_settings"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.pieropan.julien.bouncingball.activities.GameMaps"
            android:label="@string/title_activity_game_maps"  
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>